.container{
    border:7px solid blue;
    box-shadow: 5px 5px;
    width: 800px;
    height: 960px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px ;
}

.container1{
    border:2px solid black;
    box-shadow: 2px 2px;
    border-radius: 20px;
}

.container1 border {
size: 200px ;
border-radius: 10px;
}
.container2{
    border:2px solid black;
    box-shadow: 2px 2px;
    border-radius: 10px;
}
.container3{
    border:2px solid black;
    box-shadow: 2px 2px;
    border-radius: 10px;
}
h2{
    margin-top: -20px;
}
.button{
    width: 150px;
    border-radius: 5px;
}
*{
    font-family: fantasy;
}